<!DOCTYPE html>
<html>
  <head>
    <title>Add Employee Information</title>
  </head>
  <style>
    body{
      background:url('./Office\ worker\ examining\ money\ with\ magnifying\ glass.jpg');
      background-size:cover;
      font-weight: bold;
      font-size: 1rem;
    }

    .resume-text{
      font-weight: bold;
    }
   
  </style>
  <center>
    <font color="black" size="4" style="font-family:'Times New Roman', Times, serif'">
      <h1 style="color:black"><b>WE ARE HIRING!</b></h1>

      <body bgcolor="lightgrey">
        <form
          class="formcontainer"
          action="/addemp"
          autocomplete="on"
          method="POST"
          enctype="multipart/form-data"
        >

          Name:<br />
          <input
            style="height: 25px; font-size: 14pt; color: rgb(200, 45, 45)"
            type="text"
            name="ename"
            autofocus
            required
            size="20"
          /><br /><br />

          Email:<br />
          <input
            style="height: 25px; font-size: 14pt; color: rgb(181, 33, 33)"
            type="text"
            name="email"
            required
          /><br /><br />

          Phone Number:<br />
          <input
            style="height: 25px; font-size: 14pt; color: grey"
            type="text"
            name="ephno"
            required
            minlength="10"
            maxlength="10"
          /><br /><br />

          Experience:<br />
          <input
            style="height: 25px; font-size: 14pt; color: grey"
            type="number"
            name="exp"
            required
          /><br /><br />

          Aptitude Score:<br />
          <input
            style="height: 25px; font-size: 14pt; color: grey"
            type="number"
            name="apt"
            required
          /><br /><br />

          Group Discussion Score:<br />
          <input
            style="height: 25px; font-size: 14pt; color: grey"
            type="number"
            name="gdscore"
            required
          /><br /><br />

          HR Score:<br />
          <input
            style="height: 25px; font-size: 14pt; color: grey"
            type="number"
            name="hrscore"
            required
          /><br /><br />

          Location:<br />
          <input
            style="height: 25px; font-size: 14pt; color: grey"
            type="text"
            name="location"
            required
          /><br /><br />

          Resume:
          <input
            class="resume-text"
            type="file"
            name="emp_resume"
            required
            style="height: 25px; font-size: 14pt; color: rgb(0, 0, 0)"
          />
          <br/><br />

          <button
            type="submit"
            style="
              background: rgb(248, 235, 235);
              height: 45px;
              width: 230px;
              color: white;
              font: oblique;
              font-size: large;
              color: black;
            "
          >
            UPDATE DATABASE
          </button>
          <button
            type="submit"
            formaction=""
            style="
              background: rgb(248, 235, 235);
              height: 45px;
              width: 230px;
              color: white;
              font: oblique;
              font-size: large;
              color: black;
            "
          </button>
          
            STATUS CHECK</button
          ><br /><br />
        </form>
      </body>
    </font>
  </center>
</html>
