<!DOCTYPE html>
<html>
<head>
	<style>
	 body{
      background:url('../Office\ worker\ examining\ money\ with\ magnifying\ glass.jpg');
      background-size:cover;
      font-weight: bold;
      font-size: 1rem;
	  font-family: 'Times New Roman', Times, serif;
    }

	button{
		background: rgb(248, 235, 235);
              height: 45px;
              width: 230px;
              color: white;
              font: oblique;
              font-size: large;
              color: black;
	}
	</style>
</head>
<center>
	<font color="black" size="5" style="font-family: avenir">
		<body bgcolor="lightgrey">
			<h1>SAVE SUCCESSFUL</h1><br>
			<h2>Following Employee has been added to the database</h2><br>
			<h2>{{ name }}</h2><br>
			<div>

				Name:<br> {{ ename }} <br><br>

				Email:<br> {{ email }} <br><br>

				Phone Number:<br> {{ ephno }} <br><br>

				Experience:<br> {{ exp }} <br><br>

				Aptitude Score:<br> {{ apt }} <br><br>

				Group Discussion Score: <br> {{ gdscore }} <br><br>
				
			    HR score:<br> {{ hrscore }} <br><br>

			    Location:<br> {{ location }} <br><br>

			</div>
			<title>Add Emp Output</title>
				<form action="http://52.66.209.90" autocomplete="on" method = "GET">

					<button type="submit"">GO BACK</button><br><br>

				</form>
		</body>
	</font>
</center>
</head>
<body>

</body>
</html>
